a {
    color: black;
}
div {
    display: flex;
}
li {
    cursor: pointer;
}
input[type="radio"]{
    margin-right: .5rem;
}
.articleTitle__trigger {
    background: #EEE;
    margin-bottom: .25rem;
    padding: .5rem;
    border-left: 2.5pt solid aquamarine;
    border-radius: 5px;
}
html, body, template, div, a, li, ul, span {
    font-size: 18px;
}
button, lightning-button {
	font-size: .8rem;
}
.hidden {
    display: none;
}
/* 

li:hover {
    text-decoration: underline;
}

*/